.card{
position:absolute;   
 width: 160px;
 right: -2.5rem;
 width: 158px;
 background-color:rgb(201, 192, 192);
}

.card_date{

    width: 70px;
    position: absolute;
    margin-left: 10rem;
    top: 21rem;
    border-radius: 5px;
}

::placeholder{color:black;}