.header-top{

color: white;
    background-color: #0F1111;
    display: flex;
align-items: center;
    height: 120px;
    width: 97rem;
    justify-items: center;
    gap: 1rem;
    margin-left: -1rem;
    z-index: 1;

}
.input-field{

height: 35px;
width: 700px;
border: none;
outline: none;


}
.option-value{
position: relative;
left: 1rem;
background-color: #f3f3f3;
    height: 36.2px;
}
.header-top>div>img{



    height:180px;
    width: 140px;
margin-top: 1.1rem;
    margin-left: 1rem;
}
.header-top>div>span:nth-child(2){


    position: relative;

    bottom: -0.01rem;
}
.loc-icon{

    position: relative;
    bottom: -0.1rem;
}
.header-top>div:hover{


   

}
.srh-icon{

right: 1rem;
position: relative;
right: 1rem;
    background-color: #fcbb6a;


}
.flag{

    height: 20px;
}
.option-values{

    background-color:#f3f3f3 ;
    height: 10px;
    width: 20px;
    border: none;
}
.sign-in{


    display: flex;
    flex-direction: column;
}
.sign-in>span:nth-child(2){


    font-weight: bold;
    color: white;
}
.return{

display: flex;
flex-direction: column;
gap: 0.1rem;
margin-top: 0.1rem;
}
.return>span:nth-child(2){

font-weight: bold;

}
.cart{


    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:1rem;

}
.cart>span:nth-child(2){

top: -1rem;
    
    margin-left: 1rem;
    font-weight: bold;}
.cart>span:nth-child(1){

    position: relative;
    top: 1rem;
}
.options{


    display: flex;
    position: relative;
    gap: 1rem;
    color: white;
    bottom: 2rem;
    list-style: none;
    font-family: inherit;
    margin-left: 2rem;
}
.options>li:nth-child(2){

    
    position: relative;
    left: -1rem;
    font-weight: bold;
}

.header:hover{

    cursor: pointer;
}




.header{

    z-index: 1;
}

.link{

    text-decoration: none;

    color: white;
}

.link:hover{

font-size: 1rem;
}



@media(min-width:1600px){



    .header-top{



        width: 1000%;
    }
}

@media (min-width:1800px) {
    .header-top{width: 20%;}
}

@media
(max-width:500px){

.options{

    display: none;
}

.header-top{

    height: 80px;
}


img{
height: 100px;
margin-left: 1rem;
}


.input-field{display: none;}
.option-value{
    display: none;
}

.flag{display: none;}
.option-values{display: none;}

.header-top>div>span{

    display: none;
}

.sign-in{

    display: flex;
    flex-direction: column;
margin-left: -2rem;
}

.cart>span:nth-child(1){

display: flex;
position: absolute;
top: 1rem;
left: 20.4rem;
}

.hlo{

    display: none;
}

.srh-icon{

    display: flex;
    position:absolute;

}

.header-top{

    width: 450px;
}
}